body {
    background-color: #222;
    color: #eee;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}

.nodez-wrapper {
    display: table;
    overflow: hidden;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.nodez-wrapper .nodez-col {
    width: 50%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}

.nodez-wrapper .nodez-col.nodez-col-info {
    vertical-align: middle;
    background-color: #444;
}

.info {
    width: 50%;
    position: absolute;
    top: 100px;
}

.info-header {
    text-align: center;
    margin-bottom: 16px;
}

.info-item {
    margin-top: 2px;
		width: 100%;
}

.info-item .info-label {
    display: inline-block;
    width: 50%;
    text-align: right;
    color: #999;
}

.info-item .info-value {
}

.info-bitcoin-logo {
		position: relative;
		top: -4px;
    height: 48px;
    width: 48px;
}

.info-addr {
    font-size: 42px;
    font-weight: bold;
}

.info-net {
    font-size: 16px;
    color: #999;
}

.info-sync-behind {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.message-stream-wrapper {
		overflow: hidden;
}

.message-stream {
		white-space: nowrap;
		overflow: hidden;
		font-family: Monaco, monospace;
		padding: 1px 4px;
		font-size: 12px;
		color: #aaa;
}

.clearfix {
		clear: both;
}

.message-stream:hover {
		background-color: #444;
}

.show-details.message-stream {
		border-top: 1px solid black;
		background-color: #444;
		position: absolute;
		z-index: 100;
		bottom: 0px;
		border-radius: 0;
		margin: 0;
		width: 100%;
}

.show-details.message-stream:hover {
		background-color: #444;
}

.message-stream-main {
		display: inline-block;
}

.show-details .message-stream-main {
		padding: 4px 0;
}

.message-stream-cmd,
.message-stream-hash,
.message-stream-tx-value {
		display: inline-block;
}

.message-stream-tx-value {
		margin-right: 10px;
		width: 120px;
		text-align: center;
}

.message-stream-tx-details {
		display: none;
		border-top: 1px solid #222;
		padding: 4px 0 10px 0;
}

.close-details {
		cursor: pointer;
		display: none;
		font-size: 12px;
		margin: 4px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    width: 40px;
}

.close-details:hover {
		text-decoration: underline;
}

.show-details .close-details {
		display: block;
}

.show-details .message-stream-tx-details {
		display: block;
}

.message-stream-tx-ios-wrapper {
		white-space: nowrap;
}

.message-stream-tx-io-arrow {
		display: none;
}

.message-stream-tx-header {
		display: inline-block;
		color: #ddd;
}

.message-stream-tx-ios {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		color: #aaa;
}

.message-stream-tx-io-headers .message-stream-tx-header {
		width: 50%;
}

.message-stream-tx-io {
		padding: 1px 0;
}

.message-stream-tx-stats {
		margin-top: 10px;
}

.message-stream-tx-stats {
		display: table;
}

.message-stream-tx-stat {
		display: table-row;
		color: #aaa;
}

.message-stream-tx-stat-label,
.message-stream-tx-stat-val {
		display: table-cell;
		padding: 1px 24px 1px 0
}
