body {
    background-color: #222;
    color: #eee;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 280px;
		height: 100%;
    background-color: rgba(30,30,30,.5);
    padding: 10px;
    /* border-radius: 6px; */
}

.info-bitcoin-logo {
    height: 16px;
    width: 16px;
}

.info-header {
    text-align: center;
    margin-bottom: 16px;
}

.info-item .label {
    display: inline-block;
    width: 120px;
    text-align: right;
    color: #999;
}

.info-item {
    margin-top: 2px;
}

.info-item.addr {
    font-size: 22px;
    font-weight: bold;
}

.info-item.net {
    font-size: 12px;
    color: #999;
}

/* .message-stream-wrapper { */
/*     padding: 3px 0; */
/*     font-family: monospace; */
/* } */

/* .message-stream { */
/*     display: inline-block; */
/*     padding: 0 3px; */
/*     width: 100%; */
/* } */

/* .message-stream:hover { */
/*     background-color: #555; */
/* } */

/* .message-stream div { */
/*     display: inline-block; */
/* } */

/* .message-stream-cmd { */
/*     width: 100px; */
/* } */

/* .message-stream-type { */
/*     width: 50px; */
/* } */


/* style v2 */

.message-stream {
		background-color: #444;
		border-radius: 4px;
		margin: 6px;
		margin-right: 308px;
		min-width: 800px;
		white-space: nowrap;
}

.clearfix {
		clear: both;
}

.message-stream:hover {
		background-color: #555;
}

.message-stream-left {
		display: inline-block;
		margin: 4px;
		margin-right: 10px;
		width: 120px;
		font-size: 12px;
		text-align: right;
		color: #aaa;
}

.message-stream-main {
		display: inline-block;
		margin: 4px;
		margin-top: 10px;
		vertical-align: top;
}

.message-stream-hash,
.message-stream-tx-value {
		display: inline-block;
		font-family: monospace;
		vertical-align: middle;
}

.message-stream-tx-value {
		margin-right: 10px;
		width: 120px;
		text-align: center;
}

.message-stream-tx-details {
		display: block;
		padding: 10px;
		border-top: 1px solid #222;
}

.message-stream-tx-ios-wrapper {
		white-space: nowrap;
}

.message-stream-tx-io-arrow {
		/* display: inline-block; */
		display: none;
}

.message-stream-tx-io-header {
		display: inline-block;
		width: 50%;
}

.message-stream-tx-ios {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		font-size: 14px;
		color: #aaa;
}

.message-stream-tx-io {
		padding: 1px 0;
}

.message-stream-tx-stats {
		margin-top: 10px;
}


.message-stream-tx-stats {
		display: table;
}

.message-stream-tx-stat {
		display: table-row;
		font-size: 14px;
		color: #aaa;
}

.message-stream-tx-stat-label,
.message-stream-tx-stat-val {
		display: table-cell;
		padding: 1px 24px 1px 0
}
