<html>
  <head>
    <title>nodez</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>

  </head>

  <body>

    <div id="info">
      <div class="info-item"><span id="addr"></span></div>
      <div class="info-item"><span id="net"></span></div>
      <div class="info-item">Height: <span id="height"></span></div>
      <div class="info-item">Difficulty: <span id="difficulty"></span></div>
      <div class="info-item">Hashes/sec:<span id="hashesPerSec"></span></div>
      <div class="info-item">Connections: <span id="connections"></span></div>
      <div class="info-item">Bytes received: <span id="bytesRecv"></span></div>
      <div class="info-item">Bytes sent: <span id="bytesSent"></span></div>
    </div>

    <div id="messageStream"></div>

  </body>
</html>
