<html>
  <head>
    <title>nodez</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

  </head>

  <body>

    <div class="nodez-wrapper">
      <div class="nodez-col nodez-col-info">
				<div class="info">
					<div class="info-header">
            <div>
							<img class="info-bitcoin-logo" src="/static/images/bitcoin.png"/>
						</div>
						<div class="info-addr">
							<span id="addr">&nbsp;</span>
						</div>
						<div class="info-net"><span id="version"></span> <span id="net"></span></div>
						<div class="info-sync-behind" id="syncBehind"></div>
					</div>

					<div class="info-item">
						<span class="info-label">Height:</span>
						<span class="info-value" id="height"></span>
					</div>
					<div class="info-item">
						<span class="info-label">Headers height:</span>
						<span class="info-value" id="headersHeight"></span>
					</div>
					<div class="info-item">
						<span class="info-label">Difficulty:</span>
						<span class="info-value" id="difficulty"></span>
					</div>
					<div class="info-item">
						<span class="info-label">Hash rate:</span>
						<span class="info-value" id="hashesPerSec"></span>
					</div>
					<div class="info-item">
						<span class="info-label">Connections:</span>
						<span class="info-value" id="connections"></span>
					</div>
					<div class="info-item">
						<span class="info-label">Received:</span>
						<span class="info-value" id="bytesRecv"></span>
					</div>
					<div class="info-item">
						<span class="info-label">Sent:</span>
						<span class="info-value" id="bytesSent"></span>
					</div>
				</div>
      </div>
      <div class="nodez-col">
				<div id="messageStream" class="message-stream-wrapper"></div>
      </div>
    </div>

  </body>
</html>
